.card {
    max-width: 50%;
    box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    min-height: 25px;
    background: #0db9db;
    padding: 30px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    margin-left: 25%;
    text-align: center;
}

.settings_category {
    max-width: 90%;
    box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    min-height: 25px;
    background: #dbdbdb;
    padding: 30px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    margin-left: 5%;
    text-align: center;
}

.settings_text_category {
    text-align: left;
}

.sources_card {
    min-height: 25px;
    text-align: center;
}

.button {
    border: rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(132, 255, 153);
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(74, 179, 67);
    color: rgb(0, 0, 0);
}

.footer {
    margin-top: 25px;
    text-align: center;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    margin: 50px;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 50%;
    /* Full-width */
    height: 20px;
    /* Specified height */
    background: #0e0e0e;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 30px;
    /* Set a specific slider handle width */
    height: 30px;
    /* Slider handle height */
    background: #033aed;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 5%;
}

.slider::-moz-range-thumb {
    width: 30px;
    /* Set a specific slider handle width */
    height: 30px;
    /* Slider handle height */
    background: #033aed;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}